.container-fluid.con{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1eeea;
    position: relative;
}
.container.con{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1600px;
    margin: 30px 0;
}
.row.con{
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    margin-top: 3rem;
}
.contact-table{
    margin-bottom: 3rem;
    margin-top: 2rem;
    padding: 2.1rem 0;
}
.con-col-1, .con-col-2{
    display: flex;
    flex: 6;
    flex-direction: column;
}
.con-col-2{
    align-self: flex-start;
}
.col1-title, .col2-title{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 2.4rem;
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
    color: #343434;
    padding-bottom: 1rem;
    margin-top: 0;
    margin-bottom: 0.5rem; 
}
.table-row{
    font-family: 'Muli', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    line-height: 1.9;
    padding-bottom: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #343434;
    font-weight: 400;
}
.time{
    font-weight: 300;
}
.map-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem 0;
    margin-bottom: 3rem;
    margin-top: 2rem
}
.map{
    width: 500px;
    height: 300px;
}

.hero-back{
    background: url('../Images/back3.jpg') center center/cover no-repeat;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    filter: grayscale(100%);
}

.cont{
    font-family: 'Muli', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    line-height: 1.9;
    padding-bottom: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #343434;
    font-weight: 400;
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.cont-sec{
    list-style-type: lower-alpha;
    list-style: none;
}
.cont-main{
    font-weight: 600;
}
.cont-main.two{
    margin-top: 2rem;
}

@media (max-width: 960px){
    .row.con{
        display: block;
    }
    .contact-table{
        width: 40%;
        margin: auto;
    }
}
@media (max-width: 1400px){
    .row.con{
        display: block;
    }
    .contact-table{
        width: 40%;
        margin: auto;
    }
}