.container-fluid.footer{
    display: flex;
    background-color: #2a2525;
    height: 700px;
    margin-top: auto;
    justify-content: center;
}
.container.footer{
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 0px;
}
.row.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.logo-img{
    display: flex;
    width: inherit;
    align-items: top;
    justify-content: center;

}
#logo-name{
    width: 150px;
    height: 150px;
    margin-bottom: 5rem;
}
.cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.card{
    padding: 1rem;
}

.card-box{
    width: 100%;
}
h4 {
    color: #b69b74;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
    width: 100%;
    line-height: 1;
}
p {
    color: #ffffff;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 1rem;
    word-wrap: normal;
}
.address{
    flex: 4;
}
.contacts{
    flex: 4;
}
.office{
    flex: 4;
}

.socials{
    flex: 12;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

.fa-facebook-f{
    color: #b69b74;
    font-size: 1.5rem;
    flex: 12;
    width: 100%;
    padding: 5px;
    margin: 20px 0 0 0;
}
.fa-instagram{
    color: #b69b74; 
    flex: 12;
    width: 100%;
    padding: 5px;
    font-size: 1.6rem;
}
.icon-wrap{
    padding-bottom: 7.6rem;
}
.container-fluid.end{
    display: flex;
    background-color: #211c1c;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.container.end{
    width: 1600px;
    padding: 0 2rem;
    justify-content: center;
    display: flex;
    align-items: center;
    line-height: 1.6;
}
.ending{
    font-family: 'Muli', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    line-height: 1.6;
    color: #767676;
    height: 100%;
    margin: 0;
}


/*.icon-wrap::before{
    content: '';
    position: absolute;
    background: #b69b74;
    bottom: 0rem;
    left: 50%;
    width: 2px;
    height: 90px;
}*/
